<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg color-deep-sea-green">
        <div class="container">
            <a class="navbar-brand text-white" th:href="@{/companies}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Companies</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/companies/new}">Add Company</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>