.page-link {
    background-color: #2C7865;
    color: white;
    position: relative;
    z-index: 1;
}

.page-link:hover {
    background-color: #f5eef8;
    color: #2C7865;
    border-color: #2C7865;
    transform: scale(1.2);
    transition: transform 0.3s ease;
    z-index: 2;
}

.page-link.active {
    background-color: #f5eef8;
    color: #2C7865;
    border-color: #2C7865;
    transform: scale(1.2);
    z-index: 1;
}

.color-nyanza {
    background-color: #ECFFDC !important;
}

.color-pastel-green {
    background-color: #C1E1C1 !important;
}

.color-light-mint {
    background-color: #8AE1A6 !important;
}

.color-emerald-green {
    background-color: #50C878 !important;
}

.color-jungle-green {
    background-color: #2AAA8A !important;
}

.color-deep-sea-green {
    background-color: #2C7865 !important;
}

.panel-btn {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.panel-btn:hover {
    transform: scale(1.1);
    background-color: #000 !important;
}

.table-success th {
    background-color: #2AAA8A !important;
    color: white !important;
}

