<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="card text-center">
            <!--            <div class="d-flex justify-content-center border border-dark">
                            <div class="col-md-12">
                                <div class="container card-header bg-dark bg-subtle text-white h1">Companies</div>
                            </div>
                        </div>-->
            <div class="card-body">
                <form action="get">
                    <label class="form-label">Key word</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-dark border-dark mb-2">Find</button>
                </form>
                <table class="table table-white table-striped border border-dark">
                    <thead>
                    <tr class="table table-dark text-white h5">
                        <th class="border border-dark bg-white"></th>
                        <th>Name</th>
                        <th>CEO</th>
                        <th>revenue</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr th:each="company:${companyList}">
                        <td class="border-dark border-end h5">
                            <a class="btn btn-outline-dark border-dark"
                               th:href="@{/companies/company/{id}(id=${company.id})}"> 👁️‍ ️</a>
                        </td>
                        <td th:text="${company.name}"></td>
                        <td th:text="${company.CEO}"></td>
                        <td th:text="${company.revenue}"></td>
                        <td class="bg-white border border-dark border-start">
                            <a class="btn btn-outline-dark border-dark"
                               th:href="@{/companies/delete/{id}(id=${company.id})}">
                                Delete</a>
                            <a class="btn btn-outline-dark border-dark ms-4"
                               th:href="@{/companies/edit/{id}(id=${company.id})}">
                                Update</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${totalPages>1}">
            <span class="border border-dark border-top-0 text-dark">
                 Total Rows:
                <span class="fw-bold">
                    [[${totalItems}]]
                </span>
                 Total Pages:
                <span class="fw-bold">
                    [[${totalPages}]]
                </span>
            </span>

            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li class="page-item">
                        <a th:if="${currentPage>1}" th:href="@{'/companies/page/1'}" class="page-link">
                            First Page</a>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage>1}" th:href="@{'/companies/page/'+${currentPage -1}}"
                           class="page-link">
                            <<
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="i: ${#numbers.sequence((currentPage>2)?(currentPage-2):1,(currentPage<totalPages-2)?(currentPage+2):totalPages)}">
                        <a th:if="${currentPage!=i}" th:href="@{'/companies/page/'+${i}}"
                           th:classappend="${currentPage==i}?'page-link active':'page-link'">[[${i}]]</a>
                        <span th:if="${currentPage==i}" class="page-link active">[[${i}]]</span>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage<totalPages}"
                           th:href="@{'/companies/page/' + ${currentPage+1}}" class="page-link">>></a>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage<totalPages}"
                           th:href="@{'/companies/page/' + ${totalPages}}" class="page-link">Last Page</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>