<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<!--Navbar fragment-->
<div th:replace="fragments/navbar :: navbar"></div>

<!--Content fragment-->
<section layout:fragment="content"></section>
</body>

<!--Footer fragment-->
<div th:replace="fragments/footer :: footer"></div>
</html>