<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/companies}" th:object="${company}" method="post">
            <div class="border mt-4 ps-2 pe-2 pb-2">
                <h2 class="border bg-dark bg-gradient text-center text-white h2">New</h2>
                <div class="row">
                    <div class="form-group col-md-6 mb-4 mt-4">
                        <label for="name">name :</label>
                        <input type="text" th:field="*{name}" placeholder="company name" id="name" name="name"
                               class="form-control">
                    </div>
                    <div class="form-group col-md-6 mb-4 mt-4">
                        <label for="name">country :</label>
                        <input type="text" th:field="*{country}" placeholder="country" id="country" name="country"
                               class="form-control">
                    </div>
                    <div class="form-group col-md-6 mb-4">
                        <label for="name">CEO :</label>
                        <input type="text" th:field="*{CEO}" placeholder="CEO" id="CEO" name="CEO" class="form-control">
                    </div>
                    <div class="form-group col-md-6 mb-4">
                        <label for="name">foundationDate :</label>
                        <input type="date" th:field="*{foundationDate}" placeholder="foundation date"
                               id="foundationDate"
                               name="foundationDate" class="form-control">
                    </div>
                    <div class="form-group col-md-6 mb-4">
                        <label for="name">revenue :</label>
                        <input type="number" th:field="*{revenue}" placeholder="revenue" id="revenue" name="revenue"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label for="sector">Sector: </label>
                    <select th:field="*{sector}" id="sector" class="form-select">
                        <option th:each="sector:${sectors}" th:value="${sector}"
                                th:text="${#strings.capitalize(sector.toString().replace('_',' '))}"></option>
                    </select>
                </div>
                <div class="row justify-content-end me-2">
                    <button type="submit" class="btn btn-dark col-md-2">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>