<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center align-items-center">
        <div class="card col-md-4 border-dark mt-4 mb-3">
            <div class="row">
                <div class="col-md-8 card-header">Détails :</div>
                <div class="col-md-4 card-header justify-content-end">
                    <td class="border-dark border-end h5">
                        <a class="btn btn-outline-dark border-dark"
                           th:href="@{/companies}"> 🔙 ️</a>
                        <a class="btn btn-outline-dark border-dark "
                           th:href="@{/companies/{id}/edit(id=${company.id})}">
                            📝</a>
                        <a class="btn btn-outline-dark border-dark"
                           th:href="@{/companies/{id}/delete(id=${company.id})}">
                            🗑️</a>
                    </td>
                </div>
            </div>
            <div class="card-body">
                <p><strong> name : </strong><span th:text="${company.name}"></span></p>
                <p><strong> address : </strong><span th:text="${company.address}"></span></p>
                <p><strong> country : </strong><span th:text="${company.country}"></span></p>
                <p><strong> city : </strong><span th:text="${company.city}"></span></p>
                <p><strong> postal Code : </strong><span th:text="${company.postalCode}"></span></p>
                <p><strong> CEO : </strong><span th:text="${company.CEO}"></span></p>
                <p><strong> phone Number : </strong><span th:text="${company.phoneNumber}"></span></p>
                <p><strong> email : </strong><span th:text="${company.email}"></span></p>
                <p><strong> foundation Date : </strong><span th:text="${company.foundationDate}"></span></p>
                <p><strong> revenue : </strong><span th:text="${company.revenue}"></span></p>
                <p><strong> number Of Employees : </strong><span th:text="${company.numberOfEmployees}"></span></p>
                <p><strong> fiscal Code : </strong><span th:text="${company.fiscalCode}"></span></p>
                <p><strong> Sector : </strong>
                    <span th:if="${company.sector != null}" th:text="${#strings.capitalize(company.sector.toString().replace('_',' '))}"></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>