<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <div class="text-end">
            <a class="btn bg-success bg-opacity-50 btn-outline-dark border-dark mb-2" th:href="@{/companies/new}">Add
                new company</a>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">

                    </div>
                    <div class="col-4">
                        <form th:action="@{/companies/page/1}" method="get">
                            <label class="form-label">Search :</label>
                            <input type="text" name="keyword" th:value="${keyword}"
                                   placeholder="search by company name">
                            <button type="submit" class="btn btn-outline-dark border-dark mb-2"> 🔎</button>
                        </form>
                    </div>
                </div>

                <table class="table table-white table-striped border border-dark">
                    <thead>
                    <tr class="table bg-dark bg-gradient text-white h5">
                        <th></th>
                        <th>Name</th>
                        <th>CEO</th>
                        <th>revenue</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr th:each="company:${companyList}">
                        <td class="border-dark border-end bg-light bg-gradient h5">
                            <a class="btn btn-outline-dark border-dark"
                               th:href="@{/companies/{id}(id=${company.id})}"> 👁️‍ ️</a>
                        </td>
                        <td th:text="${company.name}"></td>
                        <td th:text="${company.CEO}"></td>
                        <td th:text="${company.revenue}"></td>
                        <td class="bg-white border border-dark border-start">
                            <a class="btn bg-danger bg-gradient bg-opacity-50 btn-outline-dark border-dark"
                               th:href="@{/companies/{id}/delete(id=${company.id})}">
                                Delete</a>
                            <a class="btn bg-info bg-gradient bg-opacity-50 btn-outline-dark border-dark ms-4"
                               th:href="@{/companies/{id}/edit(id=${company.id},keyword=${keyword},page=${currentPage})}">
                                Update</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${totalPages>1}">
            <span class="border border-dark border-top-0 text-dark pe-1">
                 Total Rows:
                <span class="fw-bold">
                    [[${totalItems}]]
                </span>
                 Total Pages:
                <span class="fw-bold">
                    [[${totalPages}]]
                </span>
            </span>

            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li class="page-item">
                        <a th:if="${currentPage>1}" th:href="@{'/companies/page/1?keyword='+${keyword}}"
                           class="page-link">
                            First Page</a>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage>1}"
                           th:href="@{'/companies/page/'+${currentPage -1}+'?keyword='+${keyword}}"
                           class="page-link">
                            <<
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="i: ${#numbers.sequence((currentPage>2)?(currentPage-2):1,(currentPage<totalPages-2)?(currentPage+2):totalPages)}">
                        <a th:if="${currentPage!=i}" th:href="@{'/companies/page/'+${i}+'?keyword='+${keyword}}"
                           th:classappend="${currentPage==i}?'page-link active':'page-link'">[[${i}]]</a>
                        <span th:if="${currentPage==i}" class="page-link active">[[${i}]]</span>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage<totalPages}"
                           th:href="@{'/companies/page/' + ${currentPage+1}+'?keyword='+${keyword}}" class="page-link">>></a>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage<totalPages}"
                           th:href="@{'/companies/page/' + ${totalPages}+'?keyword='+${keyword}}" class="page-link">Last
                            Page</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>